.user-page-container {
  position: relative;
}

.add-control-container {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.add-button:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}

.hidden-file-upload-button {
  display: none;
}

.user-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.stat-number {
  font-weight: 600;
  font-size: 1rem;
}

.stat-title {
  font-size: 1rem;
  font-weight: 700;
}

.stat-button {
  background-color: transparent;
  border: none;
  justify-self: start;
  text-align: center;
  letter-spacing: 0.05rem;
  color: var(--font-color);
}

.stat-button:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}

.header-hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: var(--font-subtitle-color);
}

.add-modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
