.restaurant-page-container {
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}

.restaurant-header {
  object-fit: contain;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 36%);
}

.restaurant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}

.restaurant-info-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.restaurant-location-wrapper {
  align-items: center;
  display: flex;
  gap: 0.2rem;
  grid-area: restaurant-location;
  align-self: end;
}

.restaurant-location-marker {
  color: var(--font-color);
}

.restaurant-info-wrapper-top {
  display: flex;
  justify-content: space-between;
}

.restaurant-page-edit-icon:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}

.restaurant-info-wrapper-bottom {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1.2fr 0.8fr;
  row-gap: 0.75rem;
  grid-template-areas:
    "restaurant-description restaurant-description"
    "restaurant-location restaurant-rating";
}

.restaurant-rating {
  grid-area: restaurant-rating;
  display: flex;
  gap: 0.25rem;
  justify-self: right;
  align-self: end;
  font-size: 1.15rem;
}
.restaurant-description {
  grid-area: restaurant-description;
}
/* .restaurant-location {
  grid-area: restaurant-location;
  align-self: end;
} */

.restaurant-description-container {
  background-color: var(--card-bg-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.restaurant-page-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.restaurant-page-button {
  background-color: transparent;
  border: none;
  justify-self: start;
  text-align: center;
  letter-spacing: 0.05rem;
  color: var(--font-color);
  font-size: 1rem;
  font-weight: 700;
}

.restaurant-page-button:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}

/* Modal CSS */

.restaurant-page-input {
  width: 65%;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0.5em;
  caret-color: var(--font-color);
  font-family: var(--font-family);
}

.restaurant-page-input::placeholder {
  color: var(--font-subtitle-color);
}

.restaurant-page-input:focus {
  outline-color: var(--hover-effect-color);
}

.active-page-button {
  color: var(--hover-effect-color);
}

.restaurant-modal-title {
  font-family: var(--font-family-name-2);
  font-size: 1.5rem;
}
