.restaurant-page-container {
  position: relative;
}

.add-control-container {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.add-button:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}
