.header {
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-title-top {
  font-size: 1.3rem;
  font-weight: 100;
}

.header-title-bottom {
  line-height: 2rem;
  font-size: 1.3rem;
}

.search-icon {
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: var(--input-placeholder-color);
}

.search-input {
  width: 100%;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 0.5em;
  caret-color: var(--button-bg-color);
}

.search-input::placeholder {
  color: var(--input-placeholder-color);
}

.search-input:focus {
  outline-color: var(--button-bg-color);
}

.input-wrapper {
  margin-top: 1rem;
}

.visited-places-container {
  height: 100vh;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: 1px solid black;
  border-radius: 0.5rem;
}

.visited-title-header {
  margin-bottom: 1rem;
}

.place-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.place-rating {
  display: flex;
  gap: 0.5rem;
}

.star {
  color: var(--rating-start-color);
}
