.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  padding: 1rem 1rem 2rem;
}

.logo {
  justify-self: start;
  display: flex;
}

.logo:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}

.logo h2 {
  font-size: 2rem;
}

.logo-cookie {
  align-self: center;
}

.hamburger-menu {
  justify-self: end;
  align-self: center;
}

.hamburger-menu:hover {
  cursor: pointer;
  color: var(--hover-effect-color);
}

.header {
}

.header-title-top {
}

.header-title-bottom {
}

.profile-pic {
  width: 5rem;
  border-radius: 50%;
}

.username {
  font-family: var(--font-family-name-2);
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  /* background-color: var(); */
}

.toggle-button {
  width: 50%;
  background-color: white;
  border: none;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* .visited-button {
  border-right: 0.5px solid var(--input-bg-color);
}

.to-visit-button {
  border-left: 0.5px solid var(--input-bg-color);
} */

.toggle-button:hover {
  border-bottom: 2px solid var(--hover-effect-color);
  padding-bottom: 0.375rem;
}

.visited-places-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 50vh;
  padding: 1rem;
  /* background-color: var(--input-bg-color); */
}

.place-container {
  background-color: var(--card-bg-color);
  color: var(--font-color);
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.place-container:not(.place-container:last-of-type) {
  margin-bottom: 1rem;
}

.place-rating {
  display: flex;
  gap: 0.2rem;
}

.star {
  color: var(--rating-start-color);
}
