.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  padding: 1rem 1rem 2rem;
}

.logo {
  justify-self: start;
  display: flex;
}

.logo:hover {
  color: var(--hover-effect-color);
  cursor: pointer;
}

.logo h2 {
  font-size: 2rem;
}

.logo-cookie {
  align-self: center;
}

.hamburger-menu {
  justify-self: end;
  align-self: center;
}

.hamburger-menu:hover {
  cursor: pointer;
  color: var(--hover-effect-color);
}

.header {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: ".user-info";
  /* padding: 0rem 1rem 0rem; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  grid-area: user-info;
}

.profile-pic {
  width: 5rem;
  border-radius: 50%;
  box-shadow: 0px 13px 18px -5px rgb(63, 114, 175);
}

.username {
  font-family: var(--font-family-name-2);
  font-weight: 700;
  font-size: 1.5rem;
  justify-self: start;
  align-self: end;
  margin-bottom: 0.25rem;
}

.user-location {
  font-size: 0.75rem;
  color: var(--font-subtitle-color);
}

.user-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.stat-number {
  font-weight: 600;
  font-size: 1rem;
}

.stat-title {
  font-size: 1rem;
}

.stat-button {
  background-color: transparent;
  border: none;
  justify-self: start;
  text-align: center;
  letter-spacing: 0.05rem;
}

.stat-button:hover {
  color: var(--hover-effect-color);
}

.stat-button:hover {
  cursor: pointer;
}

.visited-places-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 50vh;
  padding: 1rem;
  /* background-color: var(--input-bg-color); */
}

.place-container {
  background-color: var(--card-bg-color);
  color: var(--font-color);
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.place-container:not(.place-container:last-of-type) {
  margin-bottom: 1rem;
}

.place-rating {
  display: flex;
  gap: 0.2rem;
}

.star {
  color: var(--rating-start-color);
}
